<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path%>">Test Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="<%= items_path%>">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= about_path%>">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-success" href="<%= carts_path%>">Cart</a>
      </form>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1>My Carts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
      <th>Items</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% Cart.all.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.created_at %></td>
        <td><%= cart.updated_at %></td>
        <td><%= link_to 'Show', cart %></td>
        <% cart.cart_item.each do |item| %>
        <td><%= item.item.title %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
