<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path%>">Test Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path%>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= items_path%>">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_path%>">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-success" href="<%= carts_path%>">Cart</a>
      </form>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.cart_item.each do |item| %>
      <tr>
        <td><%= item.item.title %></td>
        <td><%= item.item.description %></td>
        <td><%= item.item.price %></td>
        <td><%= link_to 'Show', item.item %></td>
        <td><%= link_to 'Remove from Cart', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <br>
    <tr>
      <td>
        <% @sum = 0 %>
        <% @cart.cart_item.each do |item| %>
        <% @sum += item.item.price %>
        <% end %>
        Total Cost: <%= @sum %></td>
      </td>
    </tr>
  </tbody>
</table>
