<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <p id="notice"><%= notice %></p>

<h1>Item Catalog</h1>
<br>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Add to Cart', cart_items_path(item_id: item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="col-lg-9">
  <div class="row">
    <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= image_tag "item.jpg", class: "card-img-top" %>
        <br><br>
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%= item.description %></p>
        <p class="card-text"><%= item.price %></p>
            <%= link_to 'Show', item, class: "btn btn-primary btn-sm" %>
            <%= link_to 'Edit', edit_item_path(item), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
            <br>
            <br>
            <%= button_to 'Add to Cart', cart_items_path(item_id: item.id), class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
  </div>
</div>


<br>

<%= link_to 'New Item', new_item_path %>

</body>